form {
  border: 3px solid #14343F;
}

.label--container {
  margin-right: 80px;
  background: #14343F;
}

label {
  display: flex;
  flex-direction: row;
  background: #989481;
  min-width: 70vw;
  line-height: 26px;
}

input,
select {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
}