form {
  display: flex;
  flex-direction: column;
}

.form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #14343F;
  padding: 10px;
  margin: 0.5rem;
}

label {
  font-weight: bold;
  margin-right: 100px;
}

input,
select {
  width: 250px;
  padding: 10px;
}