table {
  max-height: 40vh;
  width: 80vw;
  border: 5px solid #14343F;
  border-collapse: collapse;
  overflow-y: scroll;
}

thead {
  background: #14343F;
}

tbody {
  background: #989481;
  text-align: center;
}

tr {
  height: 2rem;
}